@import "tailwindcss";

@theme {
  --color-brand-blue: #5777FF;
  --color-brand-blue-hover: #3b5bdb;
  --color-brand-navy: #152A40;
  --color-brand-navy-dark: #0f1d30;
  --color-brand-bg-light: #F2F4FF;
  --color-brand-bg-lighter: #F9FAFF;
}

